.cabeçalho__menu-hamburghuer{
  width: 24px;
  height: 24px;
  background-image: url("../img/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.cabeçalho{
background-color: black;    
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
}
.contaniner{
background-color: blueviolet;
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
}
.contaniner{
display: flex;
align-items: center;
}
.contaniner__imagem{
    padding: 1em;
}
.lista-menu{
display: none;
position: absolute;
top: 100%;
width: 60vw;
}
.contaniner__botao:cheked~.lista-menu{
  display: block;

}
.lista-menu__titulo,
.lista-menu__item{
padding: 1em;
background-color: brown;
}
.lista-menu__titulo{
color: black;
font-weight: 700;
}
.lista-menu__link{
  background: blue;
-webkit-background-clip: text;
-webkit-text-fill-color: antiquewhite;
background-clip: text;
text-transform: uppercase;
}
.contaniner__botao{
display: none;
}



